@font-face {
  font-family: 'Print';
  src: url('PrintClearly-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Blackjack';
  src: url('blackjack-webfont.woff') format('woff');
}

 
 *{
   /* outline: 1px solid red;*/
    margin: 0px;
    box-sizing: border-box;
        } 

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
 background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), 
  url('../images/apthapirevista.webp');
  
}

.intro, .steps {
  display: flex;
  font-family: 'Print';
  padding: 30px;
  gap: 15px;
  justify-content: space-between;S
  flex: 1;
  flex-wrap: wrap;
}

.left {
    font-family:'Blackjack';
    max-width: 360px;
    font-size: 40px;
    font-weight: 900;
    padding: 30px;
    background-color: rgb(185, 28, 22);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 15px;
    text-align: center;
    
}

.sopa-de-mani {
  background-color: #fdb827;
}

.pique-macho {
  background-color: 	#344f1d;
}

.right {
    font-family:'Blackjack';
    font-size: 30px;
    background-color: rgba(244,232,216, 0.4) ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    max-width: 800px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family:'Blackjack';
    font-size: 25px;
    color: white;
}

h4 {
    max-width: 220px;
    padding: 0.5em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
    text-align: center;
}

.dos {
     display: flex;
  align-items: center;
  background-color:#fdb827;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
}

.tres {
  background-color: 	#344f1d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
  display: flex;
  align-items: center;
  
}

.uno {
   display: flex;
  align-items: center;
  background-color: #b91c16;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
}

.ing {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 900;
    background-color: rgba(244,232,216, 0.4);
    border-radius: 15px;
}

.elab {
     display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 900;
    background-color: rgba(244,232,216, 0.4);
    max-width: 800px;
    border-radius: 15px;
}

h3 {
    font-family:'Blackjack';
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.ing h3 {
    background-color: #877b56;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
}

.elab h3 {
    background-color: #544154;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2b29;
    padding: 30px;
}

.footer a {
    text-decoration: none;
    font-family:'Blackjack';
    font-size: 25px;
    color: white;
}